*{
    padding: 0;
    margin: 0;
}
.Container{
    font-family: 'Merriweather', serif;
    color: #fff;
    text-align: center;
    background:rgba(0,0,0,0.5) url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin-top: 30px;
    margin-left: 25px;
}
.banner-text{
    font-weight: 400;
    font-size: 32px;
    padding-top: 177px;
}
.banner-p{
    font-size: 72px;
    font-weight: 900;
    width: 632px;
    height: 190px;
    padding-left: 344px;
    
}
/* New year discount Section */

.New-year{
    width: 1320px;
    height: 700px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding-top: 120px;
}
.discount{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}
.deal{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-top: 40px;
}
.categories{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}
.Happy-png{
    width: 800px;
    height: 500px;
}

/* Midnight section */

 .night-party{
    display: flex;
    background:rgba(0,0,0,0.6) url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin-top: 100px;
    margin-left: 25px;
    justify-content: space-around;
    
 }   
.party-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.5px;
    text-align: left;
    width: 642px;
    padding-top: 126px;
    padding-left: 126px;
}
.party-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 690px;
    padding-top: 26px;
    padding-left: 126px;
    line-height: 30px;
    text-align: left;
}
.btn{
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-left: 157px;
    margin-top: 70px;
    background: transparent;
    border: none;
}
.new-year-img{
    width: 320px;
    height: 465px;
    padding-top: 70px;
    padding-right: 110px;
}
/* Hotel Reserve */

.Hotel-reserve{
    width: 1320px;
    height: 482px;
    background-color: rgb(237, 243, 243);
    margin-top: 70px;
    margin-left: 25px;
    border-radius: 16px;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    padding-top: 100px;
}
.red{
    color: #F00;
}
.btn2{
    font-size: 20px;
    font-weight: 700;
    margin-top: 48px;
    background: #F00;
    padding: 16px 32px;
    color: #FFF;
    border-radius: 10px;
    border: none;
}

/* Product section */

.Product{
    width: 1320px;
    margin-left: 25px;
    margin-top: 70px;
}
.p-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    margin-left: 16px;
}
.p-heading{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-left: 16px;
}
.p-paragraph{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
    margin-left: 16px;
    margin-bottom: 48px;
}
.product1 img ,.product2 img{
    width: 400px;
    height: 420px;
    margin: 17px;
}
.product1 img:hover ,.product2 img:hover{
    
}
/* Subscribe and Email Section */
.subscribe{
    text-align: center;
    width: 1320px;
    height: 616px;
    margin-left: 25px;
    margin-top: 70px;
    border-radius: 16px;
    background-color: rgb(237, 243, 243);
}
.mail{
    width: 150px;
    height: 150px;
    margin-top: 80px;
}
.s-title{
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
}
.s-paragraph{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-left: 212px;
    margin-top: 12px;
}
.s-btn{
    margin-top: 48px;
}
.user-s{
    width: 400px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    padding: 30px;
}
.sub-btn{
    width: 210px;
    height: 72px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #F00;
    color: #FFF;
    border: none;
}
/* Footer Section */
.footer{
    background: #070211;
    width: 1370px;
    height: 610px;
    margin-top: 70px;
    color: #FFF;
    font-family: Inter;
}
.contact{
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 54px;
}
.address{
    width: 375px;
    height: 80px;
    font-weight: 400;
    padding-left: 115px;
}
.phone-web{
    padding-right: 187px;
}
hr{
    width: 1115px;
    border: 1px solid;
    margin-left: 115px;
    color: rgba(255, 255, 255, 0.15);
}
.social-icon{
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
}
.social-icon >img{
    gap: 24px;
}
.copyright{
    display: flex;
    justify-content: space-between;
}
.copy{
    margin-top: 100px;
    padding-left: 115px;
}
.unsubsribe{
    margin-top: 100px;
    padding-right: 115px;
}