*{
    padding: 0;
    margin: 0;
}
.Container{
    font-family: 'Merriweather', serif;
    color: #fff;
    text-align: center;
    background:url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin-top: 30px;
    margin-left: 25px;
}
.banner-text{
    font-weight: 400;
    font-size: 32px;
    padding-top: 177px;
}
.banner-p{
    font-size: 72px;
    font-weight: 900;
    width: 632px;
    height: 190px;
    padding-left: 344px;
    
}
/* Main section */

.New-year{
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding-top: 120px;
}
.discount{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}
.deal{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-top: 40px;
}
.categories{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}
.Happy-png{
    width: 800px;
    height: 500px;
}

 .night-party{
    display: flex;
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin-top: 100px;
    margin-left: 25px;
    justify-content: space-around;
 }   
.party-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.5px;
    text-align: left;
    width: 642px;
    padding-top: 126px;
    padding-left: 126px;
}
.party-description{
    color: rgba(255, 255, 255, 0.80);
    
    font-size: 18px;
    font-weight: 400;
    width: 690px;
    padding-top: 26px;
    padding-left: 126px;
    line-height: 30px;
    text-align: left;
}
.join{
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-left: 152px;
    padding-top: 73px;
}
.new-year-img{
    width: 320px;
    height: 465px;
    padding-top: 70px;
    padding-right: 110px;
}